<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Innsjekk for ikke teknologer">
    <title>Konferanse-innsjekk</title>

        <!-- Bootstrap core CSS -->
<link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/cheatsheet.css" rel="stylesheet">
    <script src="../static/jquery.min.js"></script>
    <script src="../static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/cheatsheet.js"></script>
  </head>
  <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex align-items-center">
      <h1 class="d-flex align-items-center fs-4 text-white mb-0">
        <img src="../static/IE-logo.svg" width="40" height="40" class="me-3" alt="Bootstrap">
        Innsjekk for DSU-IE
      </h1>
    </div>
</header>
<body>

<div class="bd-cheatsheet container-fluid bg-body">
  <section id="components">
      <article class="my-3" id="buttons">

        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        </div>
        <div>
          <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2"><div class="bd-example m-0 border-0">
          <button type="button" class="btn btn-secondary">Sett status "inne" til "ute</button>
          <button type="button" class="btn btn-secondary">Sett status "ute" til "annet"</button>
          </div></div>
        </div>
      </article>

      <div class="sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <input class="form-control" id="myInput" type="text" placeholder="Søk...">
        <br>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="tabellvisningdata">
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@mail.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@greatstuff.comhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</td>
            </tr>
            <tr>
              <td>Anja</td>
              <td>Ravendale</td>
              <td>a_r@test.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>
  </section>
</div>

<form class="form-inline">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>
<div class="mt-2">
  <input class="form-control form-control-sm" id="formFileSm" type="file">
</div>



</body>

</html>