<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Innsjekk for ikke teknologer">
    <title>Konferanse-innsjekk</title>

        <!-- Bootstrap core CSS -->
<link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/cheatsheet.css" rel="stylesheet">
  </head>
  <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex align-items-center">
      <h1 class="d-flex align-items-center fs-4 text-white mb-0">
        <img src="../static/IE-logo.svg" width="40" height="40" class="me-3" alt="Bootstrap">
        Innsjekk for DSU-IE
      </h1>
    </div>
</header>
<body>
    <article class="my-3" id="buttons">
  
        <div>
          <div class="buttons">
          
          <button type="button" class="btn btn-set-status-ute">Sett inne til ute</button>
          <button type="button" class="btn btn-set-status-ikke-redegjort">Sett ute til ikke redegjort</button>
          <button type="button" class="btn btn-filter">Filter på status</button>
          <button type="button" class="btn btn-primary">Eksporter visning</button>
          </div>
        </div>
      </article>
      <script src="../static/dist/js/bootstrap.bundle.min.js"></script>

      <script src="../static/cheatsheet.js"></script>
  </body>
</html>