<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Innsjekk for ikke teknologer">
    <link rel="icon" type="image/x-icon" href="../static/IE.ico">
    <title>Konferanse-innsjekk</title>
        <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/cheatsheet.css" rel="stylesheet">
    <script src="../static/jquery.min.js"></script>
    <script src="../static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/cheatsheet.js"></script>
  </head>
  <body>
    <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
      <div class="container-fluid d-flex align-items-center">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
        <img src="../static/IE-logo.svg" width="40" height="40" class="me-3" alt="Bootstrap">
        Innsjekk for DSU-IE
        </h1>
      </div>
    </header>

    <article class="my-3 bd-heading" id="buttons">
      <div class="container-fluid bg-body align-items">
        <section id="components">
          <form method="post" action="/">
            <button type="submit" class="btn btn-secondary" name="outside-button" id="outside-button" value="1">Sett status "inne" til "ute"</button>
            <button type="submit" class="btn btn-secondary" name="noshow-button" id="noshow-button" value="1">sett status "ute" til "annet"</button>
            <button type="submit" class="btn btn-secondary" name="refresh-button" id="refresh-button" value="1">Oppdater visning av data</button>
          </form>
        </section>
      </div>
    </article>
    <article class="bd-heading container-fluid">
      <div>
        <input class="form-control" id="myInput" type="text" placeholder="Søk...">
        <br>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Fornavn</th>
            <th>Etternavn</th>
            <th>Delegatnummer</th>
            <th>Status</th>
            <th>E-post</th>
            <th>RFID</th>
            <th>Mobilnummer</th>
            <th>Firma</th>
            <th>Romnummer</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>Mikael</td>
            <td>Skjevik</td>
            <td>1</td>
            <td>inne</td>
            <td>Mikael@example.com</td>
            <td>123456789012345</td>
            <td>11112222</td>
            <td>Industri energi</td>
            <td>101</td>
          </tr>
          <tr>
            <td>Alida</td>
            <td>Domås</td>
            <td>2</td>
            <td>ute</td>
            <td>alida@example.com</td>
            <td>123456789123456</td>
            <td>22223333</td>
            <td>Industri energi</td>
            <td>102</td>
          </tr>
          <tr>
            <td>Arnfinn</td>
            <td>Hansen</td>
            <td>3</td>
            <td>inne</td>
            <td>arnfinn@example.com</td>
            <td>123456789234567</td>
            <td>33334444</td>
            <td>Industri energi</td>
            <td>107</td>
          </tr>
        </tbody>
      </table>
      <div>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <label class="form-label" for="customFile">CSV fil, med headers</label>
          <input type="file" class="form-control" name="file">
          <button type="submit" class="btn btn-secondary">Upload</button>
        </form>
      </div>

      <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
              $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
      </script>
      <div>
        <br>
        <label class="form-label" for="SQL-query">SQL injeksjon</label>
        <input class="form-control" id="SQL" type="text" placeholder="Vit hva du gjør, her ligger all makt">
        <br>
        <button type="submit" class="btn btn-primary mb-2">Bekreft spørring til database</button>
      </div>
    </article>
  </body>
</html>